<div class="commerce-from-price-wrapper">
  {% if label_before %}
    <div class="label-before">{{ label_before }}</div>
  {% endif %}

  <div class="commerce-from-price">{{ price }}</div>

  {% if label_after %}
    <div class="label-after">{{ label_after }}</div>
  {% endif %}
</div>
